{% extends "::base.html.twig" %}

{% block title %}Ma page Lucky Number{% endblock %}

{% block body %}
<h1>Welcome to the Lucky:number page</h1>
    <p>Your lucky number is : {{ myNumber }}</p>
{% endblock %}
